{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Configurações de OED</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                
                <div class="mt-4 d-flex justify-content-between">
                    <a href="{% url 'configuracoes' %}" class="btn btn-outline-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Salvar alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}